@charset "UTF-8";

/* 共通 */
span {
  line-height: 1.3em;
  background: linear-gradient(transparent 40%, #fff 0%);
}

.fade-in {
  opacity: 0;
  transition-duration: 500ms;
  transition-property: opacity, transform;
  transform: translate(0, 50px);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

.content_wrapper {
  overflow: hidden;
}

/* メインコンテンツ */
main {
  margin-top: 200px;
  padding-bottom: 100px;
}

/* アクセス */
#access .inner:first-of-type {
  text-align: center;
  position: relative;
}

#access .inner:first-of-type::before {
  content: "";
  position: absolute;
  display: block;
  width: 181px;
  height: 231px;
  top: -30px;
  left: 80px;
  background-image: url(../images/bk_cak02.png);
  transform: rotate(15deg);
}

#access .inner:first-of-type::after {
  content: "";
  position: absolute;
  display: block;
  width: 133px;
  height: 198px;
  bottom: -20px;
  right: 80px;
  background-image: url(../images/bk_concept_cak.png);
  transform: rotate(-18deg);
}

#access h2 {
  font-size: 40px;
  line-height: 74px;
  margin-bottom: 10px;
}

#access h2 span {
  padding: 5px;
}

#access h2 img {
  vertical-align: bottom;
}

#access h3 {
  font-size: 23px;
  color: #00BEFF;
  margin-bottom: 40px;
}

#access h3 span {
  background-color: #fff;
  padding: 5px;
}

#access address {
  margin-bottom: 70px;
}

#access address p {
  font-size: 16px;
  line-height: 29px;
  font-style:normal;
}

#access iframe {
  width: 100%;
  height: 650px;
  margin-bottom: 40px;
}

#access .inner:last-of-type {
  position: relative;
  margin-bottom: 100px;
}

#access .inner:last-of-type::before {
  content: "";
  position: absolute;
  display: block;
  width: 108px;
  height: 197px;
  top: -30px;
  left: 30px;
  background-size: contain;
  background-image: url(../images/bk_cak01.png);
  transform: rotate(-14deg);
}

#access .inner dl {
  text-align: center;
  font-size: 16px;
}

#access .inner dl dt::before {
  content: "■";
  margin-right: 10px;
}

#access .inner dl dd + dt {
  margin-top: 20px;
}

@media screen and (max-width: 640px){
  #access .inner:first-of-type {
    padding: 30px 0;
  }

  #access .inner:first-of-type::before {
    width: 90px;
    height: 115px;
    top: -30px;
    left: 0;
    background-size: contain;
    transform: rotate(15deg);
  }
  
  #access .inner:first-of-type::after {
    content: "";
    position: absolute;
    display: block;
    width: 67px;
    height: 99px;
    bottom: 20px;
    right: 0;
    background-size: contain;
    transform: rotate(-18deg);
  }

  #access .inner:last-of-type::before {
    width: 54px;
    height: 98px;
    top: -30px;
    left: auto;
    right: 20px;
    background-size: contain;
    transform: rotate(14deg);
  }
}